.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 50px;
  border: solid 1px;
}

nav{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: 7em;
}

.nav-link {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.logo{
  position: absolute;
  left: 0;
  margin-left: 5em;
}
.logo-image{
  width: 140px;
  height: 140px;
  margin-left: 1em;
}

.menu-icon{
  display: none;
}

.lets-talk {
  display: flex;
  align-items: center;
}

.talk-btn {
  background-color: red; /* Set background color to red */
  color: white; /* Set text color to white */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.talk-btn:hover {
  background-color: darkred; /* Darken the background color on hover */
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {

  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 1.7em;
    color: red;
  }

  .logo{
    position: absolute;
    left: 0;
    margin-left: 1em;
  }

  .logo-image{
    width: 100px;
    height: 100px;
    margin-left: 2em;
    padding-top: 10px;
  }

  .lets-talk{
    display: none;
  }

  .nav, .login-section {
    display: none;
  }

  .nav.nav-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white; /* Use the primary color from SignInScreen.css */
    position: absolute;
    top: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 6px; /* Add border radius for rounded corners */
    z-index: 1000; /* Ensure it stays on top */
    left: 0;
    right: 0;
  }

  .nav-link {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
  }

  .dropdown-menu li a:hover {
    background-color: transparent;
  }
}