.home-container {
    color: white;
    height: 100vh;
    overflow: hidden;
  }
  
  .cover-image-container {
    position: relative;
    width: 100%;
    height: 100%; /* Fullscreen height */
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cover-content {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    max-width: 600px;
  }
  
  .cover-content h1 {
    font-size: 4em;
    margin: 0;
  }
  
  .cover-content p {
    font-size: 1.5em;
  }

  .explore-services{
    background-color: red;
    padding: 20px 50px;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    .cover-image-container{
        height: 60%;
    }

    .cover-content {
        position: absolute;
        top: 20%;
        left: 5%;
        color: white;
        max-width: 600px;
      }

    .cover-content h1 {
        font-size: 2em;
        margin: 0;
      }

      .cover-content p {
        font-size: 1.5em;
      }

      .explore-services{
        background-color: red;
        padding: 15px 30px;
        border: none;
        color: white;
        border-radius: 6px;
        font-size: 18px;
      }
   
  }