.home-container {
    color: white;
    height: 100vh;
    overflow: auto;
  }
  
  .cover-image-container {
    position: relative;
    width: 100%;
    height: 85%; /* Fullscreen height */
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  }
  
  .cover-content {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    max-width: 600px;
  }
  
  .cover-content h1 {
    font-size: 4em;
    margin: 0;
  }
  
  .cover-content p {
    font-size: 1.5em;
  }

  .explore-services{
    background-color: red;
    padding: 20px 50px;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 24px;
  }

  .serviceConatiner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-section {
    padding: 20px;
    color: black;
    text-align: center;
    width: 70%;
  }
  
  .services-section h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: lighter;
    color: #519cad;
  }

  .services-section h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  
  
  .services-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .services-cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px;
    justify-items: center; /* Align items to the start */
    padding: 2em;
  }
  
  .service-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 330px;
    height: 350px;
    text-align: start;
    color: black;
    
  }

  .service-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .service-card h4 {
    font-size: 1.5em;
    margin: 15px 0;
  }
  
  .service-card p {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .explore-service-btn {
    background-color: #519cad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .explore-service-btn:hover {
    background-color: #417a8a;
  }

  .why-choose-us{
    background-color: #519cad;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .why-choose-us-left{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
  }

  .why-choose-us-left h1{
    font-size: 3em;
  }
  .why-choose-us-image {
    width: 550px;
    height: 100%;
  }

  @media (max-width: 768px) {
    .cover-image-container{
        height: 60%;
        
    }

    .cover-image{
        border-radius: 0px 0px 30px 30px;
    }

    .cover-content {
        position: absolute;
        top: 20%;
        left: 5%;
        color: white;
        max-width: 600px;
        
      }

    .cover-content h1 {
        font-size: 2em;
        margin: 0;
      }

      .cover-content p {
        font-size: 1.5em;
      }

      .explore-services{
        background-color: red;
        padding: 15px 30px;
        border: none;
        color: white;
        border-radius: 6px;
        font-size: 18px;
      }

      .services-section {
        padding: 20px;
        color: black;
        text-align: center;
        width: 80%;
      }

      .services-cards {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      }

      .why-choose-us{
        background-color: #519cad;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .why-choose-us-left{
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        margin-left: 0;
        width: 100%;
      }

      .why-choose-us-left h1{
        font-size: 24px;
      }

      .why-choose-us-image {
        width: 100%;
        height: 100%;
      }
   
  }